html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

.container{
  flex: 1;
  text-align: left;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

.container{
  padding-top: 25px;
}

.align-left{
  text-align: left;
}


